html {
  font-size: 1rem;
}

.navbar {
  font-weight: bold;
}

.container {
  margin: 40px auto;
}

.caixa {
  position: relative;
  margin: 100px auto;
}

.fonte-titulo-nav {
  font-family: 'Ubuntu', sans-serif;
  color:orangered; 
}

.imagem-carrossel-um {
  object-fit:cover; object-position: 0 10%;
  height: 400px;
}

.imagem-carrossel-dois {
  object-fit:cover; object-position: 0 20%;
  height: 400px;
}

.card-imagem {
  width: 18rem;
  object-fit:cover;
  object-position: 0 60%;
  border-radius: 10px 10px 10px 10px;
}

.cor-font-carrossel{
  color:orangered;
  font-weight: bold;
  text-shadow: 2px 2px grey;
}

.card-imagem-top {
  height:200px;
  object-fit:cover;
  object-position: 0 60%;
  border-radius: 10px 10px 0 0;
}

.img-logo {
  width: 100px;
  margin: 0 0 20px;
}

.p-font{
  font-size: 20px;
}

.thumb-redondo {
  border-radius:50%; 
  width:250px; 
  height:250px; 
  object-fit:cover; 
  object-position: 0 60%; 
}

.thumb-outro {
  width:250px; 
  height:150px; 
  object-fit:cover; 
  object-position: 0 60%; 
}

.icones {
  font-size: 1rem;
}

.texto-cor-especial {
  color:#378aef;
}

.borda-cor-especial {
  border-color: orangered ;
}

.btn-cor-especial {
  background-color: orangered  ;
  color: white;
  transition: 1s all;
}

#carrossel-principal {
  margin-top: 20px;
}

#cor-titulo {
  color: orangered ;
}

.titulo-curriculo {
  color: orangered
}

.btn-primary {
  margin: 20px 0 0 0;
}

footer {
  position: relative;
  margin: 100px auto;
}

.footercontato {
  position:absolute; 
  text-align: center;
  line-height: 100px;
}

.olho {
  cursor: pointer;
  width: 20px;
}

.mostrarsenha {
  cursor: pointer;
}

.small, small {
  font-size: 60%;
}

.login {
  text-align: center;
  padding-bottom: 5%;
  color: orangered;
}

.esqueci {
  font-size: 12px;
  vertical-align: -50%;
  color: darkgrey;
  padding-inline-start: 3%;
}

.modalsenha {
  width: 40%;
}

.redefinicaosenha {
  text-align: center;
  padding-bottom: 5%;
}

.modal-botoes {
  margin: 0%;
  justify-content: center;
}

.esqueci:hover {
  color:blue;
}

.fazer-parte{
  width: 50%;
}

.form-check {
  margin-bottom: 2%;
}

.formulario {
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
}

label {
  display: unset;
}

.botao_form { 
  text-align: center; 
}

#nosso-blog {
  padding-bottom: 2em;
}

@media screen and (min-width: 480px) {
  .btn-materia:hover {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 480px) {
  .caixa {
    position: relative;
    width: 100%;
    margin: 100px auto;
  }

  footer {
  position: relative;
  width: 100%;
  margin: 100px auto;
  }

}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}